* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(110, 92, 212);
}
form h1{

    text-align: center;
}
h1 {
    color: black;
    font-size: 30px;
    margin: 40px auto;        
    width: fit-content;        
    border-bottom: 5px solid blue; 
    padding-bottom: 5px;
    text-align: center;       
}

.register {
    border: 2px solid white;
    background-color: white;
    height: auto; 
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(22, 189, 97, 0.2),
                0 10px 10px rgba(245, 91, 91, 0.1);
}
.inputbox {
    margin-bottom: 20px;
}
.inputbox input, 
.inputbox select {
    background-color: rgb(253, 251, 253);
    padding: 8px 10px;
    width: 100%;
    border: 2px solid rgb(232, 229, 229);
    border-radius: 10px;
    margin-top: 2px;
}
.dist {
     display: block;
    margin-bottom: 2px;
    font-weight: bold;
}
.submit input {
    width: 100%;
    background: rgb(53, 135, 203);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 10px;
}
.submit input:hover {
    background: rgb(45, 44, 44);
}
