body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f6f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.container {
    background: white;
    padding: 40px 50px;
    border-radius: 12px;
    width: 380px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.logo {
    font-size: 55px;
    color: #4e3ff6;
}

h2 {
    margin-top: 1px;
    color: #222;
}

.subtitle {
    color: #666;
    margin-bottom: 25px;
}

label {
    display: block;
    text-align: left;
    margin: 12px 0 6px;
    color: #333;
    font-size: 14px;
}

.input-box {
    position: relative;
}

.input-box input {
    width: 85%;
    padding: 12px 12px 12px 40px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
}

.input-box input:focus {
    border-color: #4e3ff6;
}

.icon {
    position: absolute;
    top: 11px;
    left: 12px;
    font-size: 18px;
    opacity: 0.6;
}

.btn {
    width: 100%;
    padding: 14px;
    background: #4e3ff6;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.btn:hover {
    background: #3b2ce0;
}

.register {
    margin-top: 18px;
    font-size: 14px;
}

.register a {
    color: #4e3ff6;
    text-decoration: none;
    font-weight: bold;
}
